# Ignore the internal resources:
_meta/
000-info.txt

# Ignore ZX Spectrum emulator snapshots:
*.sna
*.szx
*.z80

# Ignore ZX Spectrum disk images:
*.dsk
*.mgt
*.trd

# Ignore the documentation:
doc/*.dbk
doc/*.dbk.gz
doc/*.dbk.zip
doc/*.epub
doc/*.jpg
doc/*.html
doc/*.html.gz
doc/*.html.zip
doc/*.odt
doc/*.pdf
doc/*.pdf.gz
doc/*.pdf.zip

# vim: filetype=config
