# Ignore ZX Spectrum disk images:
*.dsk
*.mgt
*.trd

# Ignore ZX Spectrum emulator snapshots:
*.sna
*.szx
*.z80

# Ignore the development resources:
_meta/

# Ignore the documentation:
doc/*.html
doc/*.pdf
doc/*.docbook
doc/*.epub

# Ignore some files which are not ready yet:
bin/fonts/mini.f64
bin/fonts/nbot.f64
bin/fonts/omn1.f64
bin/fonts/omn2.f64
bin/fonts/owen.f64
src/addons/64-4.z80s

# vim: filetype=config
