*.bin binary
*.dsk binary
*.exe binary
*.fba linguist-language=Forth
*.fs linguist-language=Forth
*.fsb linguist-language=Forth
*.fzx binary
*.mgt binary
*.sna binary
*.szx binary
*.tap binary
*.trd binary
*.z80 binary
*.z80s linguist-language=Assembly
