*.bin binary
*.dsk binary
*.exe binary
*.fs linguist-language=Forth
*.fzx binary
*.mgt binary
*.pbm binary
*.scr binary
*.sna binary
*.szx binary
*.tap binary
*.trd binary
*.z80 binary
*.z80s linguist-language=Assembly
